# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\DELL\Desktop\GLSID\Problem sloving\JAVA Exercices\SQLi examples\mine\crypto-exchange\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
